[alias]
	ad = add -u .
	st = status
	me = merge --no-ff
	br = branch
	co = checkout
	cm = commit -m
	ca = commit -a
	lo = log --graph --pretty=oneline
	da = commit -mdaily backup
	gr = grep -ni
[user]
	email = wangjun850725@163.com
	name = kdurant
[core]
        editor = "\"c:/vim/vim80/gvim.exe\"" 
        ;editor = "\"c:/Neovim/bin/nvim-qt.exe\"" 
	autocrlf = true
	quotepath = false
	ignoreCygwinFSTricks = true
	excludesfile = C:\\Users\\wangj\\Documents\\gitignore_global.txt
	;safecrlf = true
[diff]
	tool = gvimdiff
	guitool = kdiff3
[difftool]
	prompt = false
[push]
	default = simple
[gui]
	encoding = utf-8
	fontui = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	ui = true
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[credential]
	helper = store
[merge]
	tool = kdiff3
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
