.jtag/
.cache/
.neocomplete/
.subversion/
mplayer/
vimfiles/bundle/
PluginConfig/neocomplete/
PluginConfig/ctrlp/
PluginConfig/BookMark/
PluginConfig/session.vim
.bash_history
.bashrc
.gitk
.lesshst
_viminfo
.netrwhist
*.old
.git-credentials
