**/coc/extensions/**
**/coc/*.json

neocomplete
mplayer
bundle
ctrlp
BookMark
cdssetup
pcbenv
[sS]ession.vim
nvim_session.vim
_viminfo
*.old
known_hosts
*.txt
tags
_vsvimrc
my_info
tmp*

.*
!.gitconfig
!.clang-format
!.snippets

GPATH
GRTAGS
GTAGS
