extends c
snippet #ifn
#ifndef ${1:HELLO_WORLD_VERSION_H}
#define $1

#define _VERSION "<version>"
${2:/*code*/}

#endif
endsnippet

snippet io
#include <${1:iostream}>
endsnippet

snippet us
using ${1:namespace} ;
endsnippet

snippet cl
class ${1:/*name*/}
{
	public:
		$1(${2:/*parameter*/})		//constructor function
		~$1() ;						//destructor function
	private:

} ;
endsnippet
