snippet if
if ${1:#condition} :
	${2:#code}
end

snippet ei
elif ${1:#condition} :
	${2:#code}
endsnippet

snippet el
else ${1:#condition} :
	${2:#code}
endsnippet

snippet wh
while ${1:#condition} :
	${2:#code}
endsnippet

snippet for
for ${1:key} in ${2:dictionary} :
	${3:#code}
endsnippet

snippet def
def ${1:function}(${2:parameter}) :
	${3:#code}
	return ${4:#value}
endsnippet
snippet print
print ${1:string}
endsnippet
